@model GSTEducationERPLibrary.Trainer.Trainer

@{
    ViewBag.Title = "AllCourseBind";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h2>AllCourseBind</h2>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
