@model GSTEducationERPLibrary.Bind.Bind



@{
    ViewBag.Title = "DetailsStaffDocumetAsync";
    }

    <table class="table">
        <thead>
            <tr>
                <th>Document</th>              
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pan Card</td>
                <td>
                    <a href="@Url.Content(Model.PanCard)  "class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Aadhar Card</td>

                <td>
                    <a  href="@Url.Content(Model.AadharCard) " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>SSC</td>

                <td>
                    <a  href="@Url.Content(Model.SSC) " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>HSC</td>

                <td>
                    <a  href="@Url.Content(Model.HSC)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Diploma</td>

                <td>
                    <a  href="@Url.Content(Model.Diploma)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Graduation</td>

                <td>
                    <a href="@Url.Content(Model.Graduation)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Post Graduation</td>

                <td>
                    <a  href="@Url.Content(Model.PostGraduation)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Relieving Letter</td>

                <td>
                    <a  href="@Url.Content(Model.RelievingLetter)  "class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Salary Slip</td>

                <td>
                    <a  href="@Url.Content(Model.SalarySlip)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Salary Structure</td>

                <td>
                    <a  href="@Url.Content(Model.SalaryStructure)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Joining Letter</td>

                <td>
                    <a  href="@Url.Content(Model.JoiningLetter)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Experience Letter</td>

                <td>
                    <a href="@Url.Content(Model.ExperienceLetter)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Medical Certificate</td>

                <td>
                    <a  href="@Url.Content(Model.MedicalCertificate)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Photograph</td>

                <td>
                    <a  href="@Url.Content(Model.Photograph)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Resume</td>


                <td>
                    <a  href="@Url.Content(Model.Resume)  " class="icon" target="_blank" title="View">
                        <video width="25" height="25" playsinline loop>
                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4">
                        </video>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

