@model GSTEducationERPLibrary.Student.Student

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="card " style="padding: 10px;">
    <table id="LoadList1" class="wrapper table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.CandidateCode)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SectionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TopicName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMarks)
                </th>
                <!--<-->@*th>
            @Html.DisplayNameFor(model => model.ObtainedMarks)
        </th>*@
                @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
                @*<th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllTestList)

            {
                <tr>
                    @*<td>
            @Html.DisplayFor(modelItem => item.CandidateCode)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMarks)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.ObtainedMarks)
        </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>*@
                    @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
                </tr>
            }

        </tbody>

    </table>
    </div>
    @*<div id="LoadList1"></div>*@
